@using Abp.Collections.Extensions
@model CH.Spartan.Web.Models.IndexViewModel
@{
    ViewBag.Title = "首页";
}
@section scripts
{
    <script src="/Content/js/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/Abp/Framework/scripts/libs/abp.signalr.js"></script>
    <script type="text/javascript">

        function updateUser(user) {
            $("#img-user-avatar").attr("src", user.avatar);
            $("#lbl-user-name").html(user.name);
        }

        function showUpdateDevice(id) {
            abp.dialog.open("@(Model.ShowUpdateDeviceUrl)?id=" + id, "@L("修改车辆")", {
                area: ["575px", "750px"],
                btn: ["@L("保存")", '@L("取消")'],
                yes: function(index, layero) {
                    var iframeWin = layero.find("iframe")[0].contentWindow;
                    iframeWin.submitForm(callback);
                }
            });
        }

        (function($) {
            if (!$) {
                return;
            }
            $(function() {
                abp.event.on('abp.notifications.received', function(userNotification) {
                    var count = $("#sp-notification-count").html();
                    if (!count) {
                        count = 0;
                    } else {
                        count = parseInt(count);
                    }
                    count++;
                    $("#sp-notification-count").html(count);
                });
            });
        })(jQuery);
    </script>
}
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span><img alt="image" class="img-circle" width="64" height="64" id="img-user-avatar" src="@Model.LoginInformations.User.Avatar" /></span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">
                                        @{
                                            if (Model.LoginInformations.Tenant != null)
                                            {
                                                @Html.Raw(Model.LoginInformations.Tenant.Name)
                                            }
                                            else
                                            {
                                                @Html.Raw("超级管理员")
                                            }
                                        }
                                    </strong>
                                </span>
                                <span class="text-muted text-xs block"><span id="lbl-user-name">@Model.LoginInformations.User.UserName</span><b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li>
                                <a class="J_menuItem" href="contacts.html">@L("联系我们")</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="contacts.html">@L("使用帮助")</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/Account/Logout">@L("安全退出")</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        YU
                    </div>
                </li>
                @foreach (var menuItem in Model.MainMenu.Items)
                {
                    <li>
                        @if (menuItem.Items.IsNullOrEmpty())
                        {
                            <a href="@menuItem.Url" title="@menuItem.DisplayName">
                                @if (!string.IsNullOrWhiteSpace(menuItem.Icon))
                                {
                                    <i class="@menuItem.Icon"></i>
                                }
                                @menuItem.DisplayName
                            </a>
                        }
                        else
                        {
                            <a href="#" title="@menuItem.DisplayName">
                                @if (!string.IsNullOrWhiteSpace(menuItem.Icon))
                                {
                                    <i class="@menuItem.Icon"></i>
                                }
                                <span class="nav-label">@menuItem.DisplayName</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                @foreach (var subMenuItem in menuItem.Items)
                                {
                                    <li>
                                        <a class="J_menuItem" href="@subMenuItem.Url" title="@subMenuItem.DisplayName">
                                            @if (!string.IsNullOrWhiteSpace(subMenuItem.Icon))
                                            {
                                                <i class="@subMenuItem.Icon"></i>
                                            }
                                            @subMenuItem.DisplayName
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="@Model.CurrentLanguage.Icon"></i>
                                <span>@Model.CurrentLanguage.DisplayName</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (var language in Model.Languages)
                                {
                                    if (language.Name != Model.CurrentLanguage.Name)
                                    {
                                        <li><a href="/AbpLocalization/ChangeCulture?cultureName=@(language.Name)&returnUrl=@(Request.Url)"><i class="@language.Icon"></i> @language.DisplayName</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info J_menuItem" data-toggle="dropdown" href="/CustomerManage/Notification" title="报警信息">
                            <i class="fa fa-envelope"></i> <span class="label label-warning" id="sp-notification-count">@(Model.UnreadNotificationCount==0?"": Model.UnreadNotificationCount.ToString())</span>
                        </a>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a class="right-sidebar-toggle" aria-expanded="false">
                            <i class="fa fa-tasks"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab" data-id="Home_Dashboard">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight">
                <i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">
                    关闭操作<span class="caret"></span>

                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive">
                        <a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll">
                        <a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther">
                        <a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a href="/Account/Logout" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/Home/Dashboard" frameborder="0" data-id="Home_Dashboard" seamless></iframe>
        </div>
        <div class="footer">
            <div class="pull-right">
                &copy; 2015-2020 <a href="#" target="_blank">深圳羽衡科技有限公司 联系电话：400-8888888</a>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
    <!--右侧边栏开始-->
    <div id="right-sidebar">
        <div class="sidebar-container">
            <ul class="nav nav-tabs navs-3">
                <li class="active">
                    <a data-toggle="tab" href="#tab-1">
                        <i class="fa fa-gear"></i> 主题
                    </a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#tab-2">
                        新增车辆
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-3">
                        过期车辆
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="sidebar-title">
                        <h3> <i class="fa fa-comments-o"></i> 主题设置</h3>
                        <small><i class="fa fa-tim"></i> 你可以从这里选择和预览主题的布局和样式，这些设置会被保存在本地，下次打开的时候会直接应用这些设置。</small>
                    </div>
                    <div class="skin-setttings">
                        <div class="title">主题设置</div>
                        <div class="setings-item">
                            <span>收起左侧菜单</span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
                                    <label class="onoffswitch-label" for="collapsemenu">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>固定顶部</span>

                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
                                    <label class="onoffswitch-label" for="fixednavbar">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                固定宽度
                            </span>

                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
                                    <label class="onoffswitch-label" for="boxedlayout">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="title">皮肤选择</div>
                        <div class="setings-item default-skin nb">
                            <span class="skin-name ">
                                <a href="#" class="s-skin-0">
                                    默认皮肤
                                </a>
                            </span>
                        </div>
                        <div class="setings-item blue-skin nb">
                            <span class="skin-name ">
                                <a href="#" class="s-skin-1">
                                    蓝色主题
                                </a>
                            </span>
                        </div>
                        <div class="setings-item yellow-skin nb">
                            <span class="skin-name ">
                                <a href="#" class="s-skin-3">
                                    黄色/紫色主题
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="sidebar-title">
                        <small><i class="fa fa-tim"></i>最近一个月新增 @Model.LastDevices.Items.Count 辆车</small>
                    </div>
                    <ul class="sidebar-list">
                        @foreach (var device in Model.LastDevices.Items)
                        {
                            <li>
                                <a href="#">
                                    <span class="label label-primary pull-right" onclick="showUpdateDevice(@device.Id);">修改</span>
                                    <h4>@device.BName</h4>
                                    @device.BDscription
                                    <div class="small text-muted m-t-xs">新增时间：@device.CreationTime</div>
                                    <div class="small text-muted m-t-xs">过期时间：@device.BExpireTime</div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div id="tab-3" class="tab-pane">
                    <div class="sidebar-title">
                        <small><i class="fa fa-tim"></i>即将或者已过期的车辆</small>
                    </div>
                    <ul class="sidebar-list">
                        @foreach (var device in Model.NearExpireDevices.Items)
                        {
                            <li>
                                <a href="#">
                                    <span class="label label-primary pull-right" onclick="showUpdateDevice(@device.Id);">修改</span>
                                    <h4>@device.BName</h4>
                                     @if (Model.IsTenantAdmin)
                                     {
                                         <div class="small text-muted m-t-xs">所属客户：@device.UserName</div>
                                        <div class="small text-muted m-t-xs">联系方式：@device.Contact</div>
                                     }
                                    <div class="small text-muted m-t-xs">过期时间：@device.BExpireTime</div>
                                    <div class="progress progress-mini">
                                        <div style="width: @(device.ExpirePercent)%;" class="progress-bar progress-bar-@device.ExpirePercentClsText"></div>
                                    </div>
                                    <div class="small text-muted m-t-xs">@device.ExpireText</div>
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>

        </div>
    </div>
    <!--右侧边栏结束-->
</div>
