@model CH.Spartan.Tenants.Dto.CreateTenantOutput
@section styles
{
    @Styles.Render("~/styles/plugins/edit")
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/edit")
    <script type="text/javascript">
        var from = $("#form");
        var callback = null;
        (function ($) {
            if (!$) {
                return;
            }

            $(function () {
                from.validate({
                    submitHandler: function (form) {
                        var data =
                        {
                            tenant: abp.utils.getFormData(form)
                        };
                        abp.ajax({
                            url: "/SystemManage/CreateTenant",
                            data: JSON.stringify(data)
                        }).done(function (result) {
                            if (callback) {
                                callback(result, "@L("添加成功")");
                            }
                            abp.dialog.close();
                        });
                    }
                });

            });

        })(jQuery);

        function submitForm(cb) {
            callback = cb;
            from.submit();
        }
    </script>
}

<div class="wrapper wrapper-content @(SpartanConsts.DefaultAnimate) edit-col-1">
    <form class="form" id="form">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="Name">@L("公司名")：</label>
                    <input name="Name" id="Name" class="form-control required stringCheck" type="text" value="@Model.Tenant.Name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="TenancyName">@L("租户名")：</label>
                    <input name="TenancyName" id="TenancyName" class="form-control required stringCheck" type="text" value="@Model.Tenant.TenancyName">
                </div>
                <div class="form-group">
                    <label class="control-label" for="Phone">@L("电话")：</label>
                    <input name="Phone" id="Phone" class="form-control required isTel" type="text" value="@Model.Tenant.Phone">
                </div>
                <div class="form-group">
                    <label class="control-label" for="EmailAddress">@L("邮件")：</label>
                    <input name="EmailAddress" id="EmailAddress" class="form-control required isEmail" type="text" value="@Model.Tenant.EmailAddress">
                </div>
            </div>
        </div>
    </form>
</div>
