@using Abp.Extensions
@model string
@{
    var cls = Model;
    if (cls.IsNullOrEmpty())
    {
        cls = "z-index: 999; top: 5px; right: 5px;";
    }
}

<div id="area-box" class="ibox float-e-margins w400" style="position: absolute; @cls">
    <div class="ibox-title">
        <h5>@L("全部区域")</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content ">
        <div class="input-group">
            <button type="button" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> @L("添加")</button>
            <button type="button" class="btn btn-sm btn-primary ml5"> <i class="fa fa-remove"></i> @L("隐藏所有区域")</button>
        </div>
        <div class="input-group none">
            <input type="text" placeholder="@L("区域名"))" class="input input-sm form-control">
            <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-primary"> <i class="fa fa-check"></i> @L("保存")</button>
                <button type="button" class="btn btn-sm btn-primary"> <i class="fa fa-arrows"></i> @L("调整区域")</button>
            </span>
        </div>
        <ul class="sortable-list connectList agile-list h500 ova">
            <li class="warning-element">
                加强过程管理，及时统计教育经费使用情况，做到底码清楚，
                <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-danger">删除</a>
                    <i class="fa fa-clock-o"></i> 2015.09.01
                </div>
            </li>
            <li class="success-element">
                支持财会人员的继续培训工作。
                <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-danger">删除</a>
                    <a href="#" class="pull-right btn btn-xs btn-primary mr5">隐藏</a>
                    <i class="fa fa-clock-o"></i> 2015.05.12
                </div>
            </li>
            <li class="info-element">
                协同教导处搞好助学金、减免教科书费的工作。
                <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-danger">删除</a>
                    <i class="fa fa-clock-o"></i> 2015.09.10
                </div>
            </li>
            <li class="danger-element">
                要求会计、出纳人员严格执行财务制度，遵守岗位职责，按时上报各种资料。
                <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-danger">删除</a>
                    <i class="fa fa-clock-o"></i> 2015.06.10
                </div>
            </li>
            <li class="warning-element">
                做好职工公费医疗工作，按时发放门诊费。
                <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-danger">删除</a>
                    <i class="fa fa-clock-o"></i> 2015.09.09
                </div>
            </li>
            <li class="warning-element">
                有计划地把课本复习三至五遍。
                <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-danger">删除</a>
                    <i class="fa fa-clock-o"></i> 2015.08.04
                </div>
            </li>
            <li class="success-element">
                看一本高质量的高中语法书
                <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-danger">删除</a>
                    <i class="fa fa-clock-o"></i> 2015.05.12
                </div>
            </li>
            <li class="info-element">
                选择一份较好的英语报纸，通过阅读提高英语学习效果。
                <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-danger">标记</a>
                    <i class="fa fa-clock-o"></i> 2015.09.10
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    (function($) {
        if (!$) {
            return;
        }
        $(function() {
           



        });
    })(jQuery);
</script>