@using Abp.Extensions
@model string
@{
    var cls = Model;
    if (cls.IsNullOrEmpty())
    {
        cls = "z-index: 999; top: 5px; right: 5px;";
    }
}
<style type="text/css">
    #monitor-device-box .nav-tabs li a {
        border-radius: 0;
    }

    #monitor-device-box .nav-tabs li.active a {
        border-bottom-color: #fff;
    }

    #monitor-device-box .search-keyword {
        border-top: 0;
    }

    .info-window {
        width: 250px;
        display: none;
    }

        .info-window p {
            margin: 0;
            font-size: 9px;
        }

        .info-window .panel-heading {
            border-bottom: 3px solid #3c8dbc;
            padding-top: 0px;
        }

            .info-window .panel-heading h3 {
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .info-window .panel-heading span {
                width: 20px;
                height: 20px;
                position: absolute;
                right: 2px;
                top: 2px;
                cursor: pointer;
                background-color: #fff;
                z-index: 9999;
                padding-left: 5px;
            }

    .marker-container {
        width: 400px;
    }

        .marker-container span {
            border: 1px solid #3c8dbc;
            color: #000;
            font-weight: bold;
            background-color: #FAFFBD;
            filter: alpha(opacity=70);
            -moz-opacity: 0.7;
            -khtml-opacity: 0.7;
            opacity: 0.7;
        }
</style>
<div id="monitor-device-box" class="ibox float-e-margins w300" style="position: absolute; @cls">
    <div class="ibox-title">
        <h5>@L("全部车辆")</h5>
        <div class="ibox-tools">
            <a class="collapse-link" data-toggle="tooltip" data-placement="left" title="@L("下次更新数据倒计时")">
                <!--ko text: timing.time--><!--/ko-->
                <i class="fa fa-refresh fa-spin"></i>
            </a>
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#" data-bind="click:showMapToolbarBox">@L("工具面板")</a>
                </li>
                <li>
                    <a href="#" data-bind="click:showAreaBox">@L("区域面板")</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ibox-content p5">
        <ul class="nav nav-tabs">
            <li class="active"><a class="p5" data-toggle="tab" href="#" data-showtype="all">@L("全部") (<span data-bind="html:data.total"></span>)</a></li>
            <li><a class="p5" data-toggle="tab" href="#" data-showtype="online">@L("在线") (<span data-bind="html:data.totalOnline"></span>)</a></li>
            <li><a class="p5" data-toggle="tab" href="#" data-showtype="offline">@L("离线") (<span data-bind="html:data.totalOffline"></span>)</a></li>
            <li><a class="p5" data-toggle="tab" href="#" data-showtype="offline">@L("过期") (<span data-bind="html:data.totalExpire"></span>)</a></li>
        </ul>
        <div class="input-group col-xs-12">
            <input type="text" class="form-control search-keyword" placeholder="@L("搜索车辆"))" data-bind="event:{keyup:localSearch}">
        </div>
        <ul class="sortable-list connectList agile-list h500 ova pt0 mt5" data-bind="foreach: data.items">
            <li data-bind="css:panelClsText,visible:isShow">
                <span data-bind="text:bName,click:$root.showDevice"></span>
                <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-primary" data-bind="click:$root.showUpdateDevice">@L("修改")</a>
                    <!--ko text: panelGpsStatusText--><!--/ko-->
                </div>
            </li>
        </ul>
    </div>
    <div class="info-window" id="info-window">
        <div class="panel-heading p0" style="border: 0;">
            <span data-bind="click:closeInfoWindow">X</span>
        </div>
        <div class="panel-body p0 f12">
            <p class="p0"><a>GPS状态: </a><span data-bind="text:current.winGpsStatusText"></span></p>
            <p class="p0"><a>GPS速度:</a> <span data-bind="text:current.winSpeedText"></span></p>
            <p class="p0"><a>设备状态: </a><span data-bind="text:current.winDeviceStatusText"></span></p>
            <p class="p0"><a>报警状态: </a><span data-bind="text:current.winAlarmStatusText"></span></p>
            <p class="p0"><a>通讯时间:</a> <span data-bind="text:current.winReceiveTimeText"></span></p>
            <p class="p0"><a>定位时间:</a> <span data-bind="text:current.winReportTimeText"></span></p>
            <p class="p0"><a>离线时长:</a> <span data-bind="text:current.winOfflineText"></span></p>
            <p class="p0"><a>定位地址:</a> <span data-bind="html:current.address"></span></p>
        </div>
    </div>
</div>
@Html.Partial("_MonitorDeviceBox")
<script type="text/javascript">

    (function ($) {
        if (!$) {
            return;
        }

        $(function () {
            //获取监控数据
            abp.global.monitorDeviceBox.getMonitorData = function (callback) {
                var data =
                {
                    coordinates: self.coordinates
                };
                abp.ajax(
                {
                    url: "/CustomerManage/GetMonitorData",
                    data: JSON.stringify(data)
                }).done(function (result) {
                    callback(result);
                });
            };
            abp.global.monitorDeviceBox.load();
        });
    })(jQuery);
</script>