@using Abp.Json
@using CH.Spartan.Devices.Dto
<script type="text/javascript">
    (function($) {
        if (!$) {
            return;
        }

        function monitorDeviceVM() {
            var self = this;
            //坐标系
            self.coordinates = "@(EnumCoordinates.Gcj02)";

            //计时
            self.timing = ko.observable();
            self.timing.time = ko.observable(0);
            self.timing.refresh = ko.observable(15);

            //查询参数
            self.args=ko.observable();

            //显示 all online offline expire
            self.args.showType=ko.observable("all");

            //数据源
            self.data = ko.mapping.fromJS(@Html.Raw(new GetMonitorDataByCutomerOutput<GetMonitorDataByCutomerForWebDto>() { Items= new List<GetMonitorDataByCutomerForWebDto>() }.ToJsonString(true)), {
                "items": {
                    key: function (data) {
                        return ko.utils.unwrapObservable(data.id);
                    },
                    create:function(data) {

                        var item= ko.mapping.fromJS(data.data);
                        item.isShow= ko.dependentObservable(function () {
                            var isShow=false;
                            if(self.args.showType()=="all")
                            {
                                isShow= true;
                            }else if(self.args.showType()=="online")
                            {
                                if(this.isOnline())
                                {
                                    isShow= true;
                                }

                            }else if(self.args.showType()=="offline")
                            {
                                if(!this.isOnline())
                                {
                                    isShow= true;
                                }
                            }else if(self.args.showType()=="expire")
                            {
                                if(this.isExpire())
                                {
                                    isShow= true;
                                }
                            }

                            if(isShow)
                            {
                                if(!this.isSearchResult())
                                {
                                    isShow=false;
                                }
                            }
                            return isShow;
                        }, item);
                        item.isSearchResult=ko.observable(true);
                        item.marker = new AMap.Marker({
                            map: abp.global.map.current,
                            offset: new AMap.Pixel(-15, -12),
                            position: new AMap.LngLat(item.gLongitude(), item.gLatitude()),
                            content: "<div class=\"marker-container\"><img src=\"" + item.iconUrl() + "\" /><span>" + item.bName() + "</span></div>"
                        });
                        item.marker.setMap(abp.global.map.current);
                        item.marker.deviceId = item.id();
                        AMap.event.addListener(item.marker, "click", function (e) {
                            self.openInfoWindow(e.target.deviceId);
                        });
                        return item;
                    },
                    update:function(data)
                    {
                        var item= ko.mapping.fromJS(data.data,data.target);
                        item.marker.setContent("<div class=\"marker-container\"><img src=\"" + item.iconUrl() + "\" /><span>" + item.bName() + "</span></div>");
                        item.marker.setPosition(new AMap.LngLat(item.gLongitude(), item.gLatitude()));
                        return item;
                    }
                }
            });

            //当前监控数据
            self.current=ko.mapping.fromJS(@Html.Raw(new GetMonitorDataByCutomerForWebDto().ToJsonString(true)));
            self.current.address = ko.observable("");

            //当前监控数据信息窗口
            self.infoWindow = new AMap.InfoWindow(
            {
                content: $("#info-window")[0],
                autoMove: true
            });

            //显示
            self.show = function(cls) {
                if (cls) {
                    $("#device-box").css(cls).fadeIn();
                } else {
                    $("#device-box").fadeIn();
                }
            }

            //隐藏
            self.hide = function(cls) {
                if (cls) {
                    $("#device-box").css(cls).fadeOut();
                } else {
                    $("#device-box").fadeOut();
                }
            }

            //显示工具面板
            self.showMapToolbarBox = function() {
                if (abp.global.mapToolbarBox) {
                    abp.global.mapToolbarBox.show();
                }
            }

            //显示区域面板
            self.showAreaBox = function() {
                if (abp.global.areaBox) {
                    abp.global.areaBox.show();
                }
            }

            //本地搜索
            self.localSearch = function(a, b, c) {
                var val = b.target.value;
                if (val != "") {
                    $.each(self.data.items(), function(index, item) {
                        if (item && item.bName().indexOf(val) < 0) {
                            item.isSearchResult(false);
                        } else {
                            item.isSearchResult(true);
                        }
                    });
                } else {
                    $.each(self.data.items(), function(index, item) {
                        item.isSearchResult(true);
                    });
                }
            }
           
            //打开设备详细信息
            self.showDevice = function(device) {
                self.openInfoWindow(device.id());
            }; 
            
            //打开修改设备窗口
            self.showUpdateDevice = function(device) {
                abp.dialog.open("/CustomerManage/UpdateDevice?id=" + device.id(), "@L("修改车辆")", {
                    area: ["575px", "750px"],
                    btn: ["@L("保存")", '@L("取消")'],
                    yes: function(index, layero) {
                        var iframeWin = layero.find("iframe")[0].contentWindow;
                        iframeWin.submitForm(self.refreshMonitorData);
                    }
                });
            };

            //打开窗口
            self.openInfoWindow = function (id) {
                var item= self.data.items.mappedGet({id:id});
                if(item) {
                    self.current.address("");
                    self.updateInfoWindow(item);
                    var pt = item.marker.getPosition();
                    if (!self.infoWindow.getIsOpen()) {
                        self.infoWindow.open(abp.global.map.current, pt);
                    }
                    $(".amap-info").show();
                    $(".info-window").show();
                    self.infoWindow.setPosition(pt);
                    abp.global.map.current.setCenter(pt);
                    abp.global.map.current.setZoom(abp.global.map.zoom);
                }
            };

            //关闭窗口
            self.closeInfoWindow = function () {
                $(".amap-info").hide();
                $(".info-window").hide();
            };

            //更新窗口信息
            self.updateInfoWindow = function(item) {
                var data = ko.mapping.toJS(item);
                ko.mapping.fromJS(data, self.current);
                if (self.current.address() == "" || !self.current.isStatic()) {
                    abp.global.map.getLocation(self.current, self.current.gLatitude(), self.current.gLongitude(), self.coordinates, function(target, address, all) {
                        self.current.address(address);
                        if (all.regeocode.pois&&all.regeocode.pois.length > 0) {
                            var arounds = [];
                            $.each(all.regeocode.pois, function(index, item) {
                                if (index < 3) {
                                    arounds.push("@L("距离")"+item.name + item.distance + "@L("米")");
                                }
                            });
                            arounds.unshift(address);
                            self.current.address(arounds.join("</br>"));
                        }
                    });
                }
            };

            //窗口是否打开
            self.isInfoWindowOpen = function () {
                return $(".amap-info").is(":visible");
            };

            //获取监控数据
            self.getMonitorData = function (callback) {
                var data =
                {
                    coordinates:self.coordinates
                };
                abp.ajax(
                {
                    url:"/CustomerManage/GetMonitorData",
                    data:JSON.stringify(data)
                }).done(function(result) {
                    callback(result);
                });
            }

            //刷新监控数据
            self.refreshMonitorData=function() {
                self.getMonitorData(function(data) {
                    ko.mapping.fromJS(data, self.data);
                    if (self.isInfoWindowOpen()) {
                        var item = self.data.items.mappedGet({ id: self.current.id() });
                        if (item) {
                            self.updateInfoWindow(item);
                            var pt = item.marker.getPosition();
                            self.infoWindow.setPosition(pt);
                            abp.global.map.current.setCenter(pt);
                        }
                    }
                });
            }

            //加载监控数据
            self.loadMonitorData = function() {
                //关闭窗口
                self.closeInfoWindow();
                //清空标注点
                $.each(self.data.items(), function(index, item) {
                    if (item && item.marker) {
                        item.marker.setMap(null);
                    }
                });

                //获取数据
                self.getMonitorData(function(data) {
                    ko.mapping.fromJS(data, self.data);
                    //设置首次视图
                    var markers = [];
                    $.each(self.data.items(), function(index, item) {
                        if (item && item.marker) {
                            markers.push(item.marker);
                        }
                    });
                    if (markers.length > 0) {
                        abp.global.map.current.setFitView(markers);
                    }
                });
            };

            //加载数据
            self.load = function () {
                //加载监控数据
                self.loadMonitorData();
                //开始计时刷新
                setInterval(function () {
                    if (self.timing.time() == 0) {
                        self.timing.time(self.timing.refresh());
                        self.refreshMonitorData();
                    }
                    self.timing.time(self.timing.time() - 1);
                }, 1000);
            }
        }

        $(function() {
            abp.global.monitorDeviceBox = new monitorDeviceVM();
            ko.applyBindings(abp.global.monitorDeviceBox, $("#monitor-device-box")[0]);
            $("#monitor-device-box .nav-tabs a").on("shown.bs.tab", function (e) {
                abp.global.monitorDeviceBox.args.showType($(e.target).data("showtype"));
            });
        });
    })(jQuery);
</script>