@using Abp.Extensions
@using Abp.Json
@using CH.Spartan.Nodes.Dto
@using CH.Spartan.Notifications.Dto
@model string
@{
    var cls = Model;
    if (cls.IsNullOrEmpty())
    {
        cls = "z-index: 999; top: 5px; right: 5px;";
    }
}
<div id="notification-box" class="ibox float-e-margins w400 mb0" style="position: absolute; @cls">
    <div class="ibox-title">
        <h5>@L("全部消息")</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#" data-bind="click:showMapToolbarBox">@L("工具面板")</a>
                </li>
                <li>
                    <a href="#" data-bind="click:showAreaBox">@L("区域面板")</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ibox-content timeline p5">
        <div class="input-group col-xs-12 mt5">
            <button class="btn btn-sm btn-primary mr5" type="button">@L("设置全部已读")</button>
            <button class="btn btn-sm btn-primary mr5" type="button">@L("设置选中为已读")</button>
            <button class="btn btn-sm btn-danger" type="button">@L("删除选中")</button>
        </div>
        @Html.AutoCompleteDeviceByCustomer("DeviceId",L("请选择车辆"),cls:"w")
        <div class="dark-timeline ah ova mt5" data-rh="-250" data-bind="foreach: notifications">
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg">
                    <i class="fa fa-briefcase"></i>
                </div>
                <div class="vertical-timeline-content">
                    <div class="checkbox i-checks pull-right"><label><input type="checkbox" data-bind="checked: ischeck"></label></div><h2 data-bind="text:data.title"></h2>
                    <p data-bind="text:data.content">
                        
                    </p>
                    <p data-bind="text:data.address">
                        
                    </p>
                    <a href="#" class="btn btn-sm btn-primary"> <i class="fa fa-map-marker"></i></a>
                    <span class="vertical-date">
                        <br>
                        <small data-bind="text:creationTime"></small>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function ($) {
        if (!$) {
            return;
        }

        function notificationVM() {
            var self = this;

            //当前页
            self.pageIndex = 0;

            //分页大小
            self.pageSize = 10;

            self.notifications = ko.mapping.fromJS(@Html.Raw((new List<GetNotificationListDto>()).ToJsonString(true)));

            //显示
            self.show = function (cls) {
                if (cls) {
                    $("#notification-box").css(cls).fadeIn();
                } else {
                    $("#notification-box").fadeIn();
                }
            }
            //隐藏
            self.hide = function (cls) {
                if (cls) {
                    $("#notification-box").css(cls).fadeOut();
                } else {
                    $("#notification-box").fadeOut();
                }
            }

            //显示工具面板
            self.showMapToolbarBox = function () {
                if (abp.global.mapToolbarBox) {
                    abp.global.mapToolbarBox.show();
                }
            }

            //显示区域面板
            self.showAreaBox = function () {
                if (abp.global.areaBox) {
                    abp.global.areaBox.show();
                }
            }

            //获取数据
            self.getNotification = function() {
                var data =
                {
                    deviceId: $("#notification-box #DeviceId").val(),
                    maxResultCount: self.pageSize,
                    skipCount: self.pageIndex * self.pageSize
                };
                abp.ajax(
                {
                    url: "/CustomerManage/GetNotificationListPaged",
                    data: JSON.stringify(data)
                }).done(function(result) {
                    $.each(result.items, function (index, item) {
                        var data = ko.mapping.fromJS(item);
                        data.ischeck = ko.observable(false);
                        self.notifications.push(data);
                    });
                });
            }
            self.loadMore = function() {
                self.pageIndex++;
                self.load();
            }
            self.load = function() {
                self.getNotification();
            }
            self.load();
        }

        $(function () {
            abp.global.notificationBox = new notificationVM();
            ko.applyBindings(abp.global.notificationBox, $("#notification-box")[0]);
        });
    })(jQuery);

</script>