@using Abp.Extensions
@using Abp.Json
@using CH.Spartan.Nodes.Dto
@using CH.Spartan.Notifications.Dto
@model string
@{
    var cls = Model;
    if (cls.IsNullOrEmpty())
    {
        cls = "z-index: 999; top: 5px; right: 5px;";
    }
}
<div id="notification-box" class="ibox float-e-margins w400 mb0" style="position: absolute; @cls">
    <div class="ibox-title">
        <h5>@L("全部消息")</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#" data-bind="click:showMapToolbarBox">@L("工具面板")</a>
                </li>
                <li>
                    <a href="#" data-bind="click:showAreaBox">@L("区域面板")</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ibox-content timeline p5">
        <div class="input-group col-xs-12 mt5">
            <button class="btn btn-sm btn-primary mr5" type="button" data-bind="click:setAllNotificationReaded">@L("全部已读")</button>
            <button class="btn btn-sm btn-primary mr5" type="button" data-bind="click:load">@L("刷新")</button>
        </div>
        @Html.AutoCompleteDeviceByCustomer("DeviceId", L("请选择车辆"), cls: "w")
        <div class="dark-timeline ah ova mt5" data-rh="-250" id="time-line-container">
            <!-- ko foreach: notifications -->
            <div class="vertical-timeline-block mt0 mt5 mb5">
                <div class="vertical-timeline-icon" data-bind="css:clsText()+'-bg'">
                    <i data-bind="css:iconText"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h2 data-bind="text:data.title" class="m0"></h2>
                    <p data-bind="text:data.content" class="m0">

                    </p>
                    <p data-bind="text:data.address" class="m0">
                    </p>
                    <a href="#" class="btn btn-sm btn-primary" data-bind="click:$root.showPosition"><i class="fa fa-map-marker"></i></a>
                    <span class="vertical-date">
                        <!-- ko text: stateText --><!-- /ko --><br>
                        <small data-bind="text:creationTime"></small>
                    </span>
                </div>
            </div>
            <!-- /ko -->
            <div class="text-center"><a data-bind="click:loadMore,text:loadMoreText"></a></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function ($) {
        if (!$) {
            return;
        }

        function notificationVM() {
            var self = this;

            //当前页
            self.pageIndex = 0;

            //分页大小
            self.pageSize = 10;

            //数据
            self.notifications = ko.observableArray();

            //加载中
            self.loadMoreText = ko.observable("加载中...");

            //信息窗口
            self.infoWindow = new AMap.InfoWindow({
                content: ""
            });

            //显示
            self.show = function (cls) {
                if (cls) {
                    $("#notification-box").css(cls).fadeIn();
                } else {
                    $("#notification-box").fadeIn();
                }
            }
            //隐藏
            self.hide = function (cls) {
                if (cls) {
                    $("#notification-box").css(cls).fadeOut();
                } else {
                    $("#notification-box").fadeOut();
                }
            }

            //显示工具面板
            self.showMapToolbarBox = function () {
                if (abp.global.mapToolbarBox) {
                    abp.global.mapToolbarBox.show();
                }
            }

            //显示区域面板
            self.showAreaBox = function () {
                if (abp.global.areaBox) {
                    abp.global.areaBox.show();
                }
            }

            //显示位置
            self.showPosition = function(item) {
                if (!item.marker) {
                    var lpt = new AMap.LngLat(item.data.longitude(), item.data.latitude());
                    item.marker = new AMap.Marker({
                        title: item.data.title() + "-" + item.data.content(),
                        map: abp.global.map.current,
                        position: lpt,
                        icon: "/Content/img/marker/mark.png",
                        offset: new AMap.Pixel(-10, -32)
                    });
                    item.marker.setMap(abp.global.map.current);
                    AMap.event.addListener(item.marker, "click", function (e) {
                        self.openInfoWindow(e.target.getTitle(), e.target.getPosition());
                    });
                }
                self.openInfoWindow(item.marker.getTitle(), item.marker.getPosition());
            }

            //打开窗口
            self.openInfoWindow = function (content, point) {
                self.infoWindow.setContent(content);
                self.infoWindow.setPosition(point);
                self.infoWindow.open(abp.global.map.current);
                abp.global.map.current.setCenter(point);
                abp.global.map.current.setZoom(abp.global.map.zoom);
            };

            //设置已读
            self.setAllNotificationReaded = function () {
                abp.ajax(
                {
                    url: "/CustomerManage/SetAllNotificationReaded"
                }).done(function (result) {
                    parent.clearNotificationCount();
                    self.load();
                });
            };

            //获取数据
            self.getNotification = function () {
                var data =
                {
                    deviceId: $("#notification-box #DeviceId").val(),
                    maxResultCount: self.pageSize,
                    skipCount: self.pageIndex * self.pageSize
                };
                abp.ajax(
                {
                    url: "/CustomerManage/GetNotificationListPaged",
                    data: JSON.stringify(data)
                }).done(function (result) {
                    if (result.items.length > 0) {
                        self.loadMoreText("加载更多");
                    } else {
                        self.loadMoreText("没有了");
                    }
                    $.each(result.items, function (index, item) {
                        self.notifications.push(ko.mapping.fromJS(item));
                    });
                });
            };

            //加载更多
            self.loadMore = function () {
                self.loadMoreText("加载中...");
                self.pageIndex++;
                self.getNotification();
            }

            //加载
            self.load = function () {
                self.notifications.removeAll();
                self.loadMoreText("加载中...");
                self.pageIndex = 0;
                self.getNotification();
            }
            self.load();


        }

        $(function () {
            abp.global.notificationBox = new notificationVM();
            ko.applyBindings(abp.global.notificationBox, $("#notification-box")[0]);

            $("#notification-box #DeviceId").on("change", function (e) {
                abp.global.notificationBox.load();
            });
        });
    })(jQuery);

</script>