@using System.Web.Services.Protocols
@{
    ViewBag.BodyClass = "gray-bg";
}

@section styles
{
  
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/drag")
}

<div class="wrapper wrapper-content @(SpartanConsts.DefaultAnimate) p0">
    @Html.Partial("_Map")
    @Html.Partial("_AreaBox", "z-index: 999; top: 5px; right: 5px;")
    @Html.Partial("_MapToolbar", "z-index: 999; top: 5px; right: 310px;")
    @Html.Partial("_MapPlaceSearchBox", "z-index: 999; top: 5px; right: 610px;display:none")
</div>
