@using Abp.Timing
@section styles
{
    @Styles.Render("~/styles/plugins/edit")
}
@section scripts
{
    @Scripts.Render("~/scripts/plugins/edit")
    <script type="text/javascript">
        (function ($) {
            if (!$) {
                return;
            }
            var from = $("#form");
            $(function () {
                from.validate({
                    submitHandler: function (form) {
                        var data = abp.utils.getFormData(form);
                        abp.ajax({
                            url: "/CustomerManage/ChangePassword",
                            data: JSON.stringify(data)
                        }).done(function (result) {
                            abp.message.success("@L("保存成功")");
                        });
                    }
                });

                $("#btn-save").click(function () {
                    from.submit();
                });
            });
        })(jQuery);
    </script>
}

<div class="wrapper wrapper-content @SpartanConsts.DefaultAnimate edit-col-1">
    <form id="form">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-8">
                <div class="form-group">
                    <label class="control-label" for="OldPassword">@L("旧密码"):</label>
                    <input class="form-control required w180" type="password" id="OldPassword" name="OldPassword" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="NewPassword1">@L("新密码"):</label>
                    <input class="form-control required w180" type="password" id="NewPassword1" name="NewPassword1" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="NewPassword2">@L("重复新密码"):</label>
                    <input class="form-control required w180" type="password" id="NewPassword2" name="NewPassword2" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary ml5" id="btn-save">@L("保存")</button>
            </div>
        </div>
    </form>
</div>
